body{
  font-family: sans-serif;
  background-color: #a298a5;
  
}
.container{
  width: 600px;
  background-color: #f9f9f9;
  margin-left: 300px;
  border-radius: 4px; 
  position: relative;
}
h2{
  font-size: 1.5rem;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}
p{
  font-size: 0.9em;
  line-height: 1.5;
  padding-left: 20px; padding-right: 20px; padding-bottom: 10px;
  color: #555;
}
img{
  width: 100%;
  background-color: gray;
}
.tag{
  background-color: #e1db61;
  text-transform: uppercase;
  display: inline-block;
  color: #333;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  left: -10px;
  z-index: 9999;
}