*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5faff;
}
.container{
  display: flex;
  max-width: 800px;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.info-section{
  flex: 1;
  padding-right: 40px;
  text-align: left;
}
h2{
  color:black;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-top: 9.375rem;
}
.form-container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
form{
  display: flex;
  flex-direction: column;
}
.form-section{
display: flex;
gap: 1.25rem;
margin-bottom: 15px;
}
.form-section div{
  flex: 1;
}
label{
  font-size:0.75 ;
  color: #666;
  margin-bottom: 5px;
  display: inline-block;
}
input,select{
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}
.register-button{
  width: 100%;
  padding: 10px;
  font-size: 16px;
color: #fff;
background-color:#00a98f;
border: none;
border-radius: 4px;
cursor: pointer;
margin-top: 10px;
}
.terms{
  font-size: 0.75rem;
  color: #999;
  margin-top: 0.625rem;
  text-align: center;
}
.terms a{
  color:#00a98f;
  text-decoration: none;
}
